<div class="vert-middle-container">
    <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path, :html => {:class => "pure-form pure-form-aligned"})  do |f| %>
    <div class="pure-control-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Name"%>
    </div>
    <div class="pure-controls">
        <%= f.submit "Login", class: "pure-button pure-button-primary" %>
    </div>
    <% end %>
    <p> New User? <%= link_to "Sign up now", signup_path %></p>
    </div>
</div>

