<p id="notice"><%= notice %></p>

<center>
    
<h1>
  <%= @competition.name %>
</h1>

<p>
  <strong>Start:</strong>
  <%= @competition.start %>
  <strong>End:</strong>
  <%= @competition.end %>
</p>

<table class="">
  <thead>
    <tr>
      <th class="mid-cell"> Name </th>
      <th class="small-cell"> Difficulty </th>
      <th class="small-cell"> Points </th>
      <!-- <th class="mid-cell"> Link <:q/th> -->
      <th class="small-cell"> Solved </th>
      <th class="small-cell"></th>
    </tr>
  </thead>
  <tbody>
<% @competition.problems.each do |problem| %>
  <tr class="hl-row">
    <td class="mid-cell"><%= problem.name %></td>
    <td class="small-cell"><%= problem.difficulty %></td>
    <td class="small-cell"><%= problem.points %></td>
<!--     <td class="mid-cell"><%#= problem.link %> </td> -->
    <td class="small-cell"><%= material_icon.check if !Solution.where(problem: problem).where(user: current_user).where(validity: true).blank?%></td>
    <td class="small-cell"><%= link_to material_icon.play_arrow, problem_path(problem) %></td>
  </tr>
<%end%>
  </tbody>
</table>
</center>
<% if is_admin? %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>
