<div class="main-div">
<h1><%= @problem.name %></h1>
<% if solved? @problem%><h1 class="solved">Solved!</h1><% else %><h1 class="not-solved">not solved</h1><% end %>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>For Example:</strong>
  <pre class="io-example"><%= @problem.example %></pre>
</p>

<p>
  <strong>Competition:</strong>
  <%= @problem.competition.name %>
</p>

<% if solved? @problem %>
  <pre><code class="<%= get_solution(@problem).language %> railscasts"><%= get_solution(@problem).code %></code></pre>
<% elsif attempt? @problem%>
  <pre><code class="<%= get_attempt(@problem).language %> railscasts"><%= get_attempt(@problem).code %></code></pre>
<% end %>
<% if is_admin? %>
  <%= link_to 'Edit', edit_problem_path(@problem) %> 
<% end %>

<% if !Solution.where(user: current_user).where(problem: @problem).empty? %>
  <%= link_to 'Update Solution', edit_solution_path(Solution.where(user: current_user).where(problem: @problem).first) %>
<% else %>
  <%= link_to 'Solve', new_solution_path(:problem => @problem) if logged_in?%>
<% end %>
<%= link_to 'Back', competition_path(@problem.competition) %>
</div>
<script>hljs.initHighlightingOnLoad();</script>

