<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @problem.link %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @problem.competition.name %>
</p>

<% if is_admin? %>
  <%= link_to 'Edit', edit_problem_path(@problem) %> 
<% end %>
<%= link_to 'Solve', new_solution_path %>
<%= link_to 'Back', competition_path(@problem.competition) %>
