<p id="notice"><%= notice %></p>



<div class="">
<center>
  <h1>Scoreboard</h1>
</center>
<table class="">
  <thead class="">
    <tr class="">
      <th class="small-cell">#</th>
      <th class="small-cell">Tag</th>
      <th class="mid-cell">Points</th>
      <% if is_admin? %><th colspan="3"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each.with_index do |user, ind| %>
      <tr class="leader-row <% if logged_in? %><% if user.id == @current_user.id %>me-in-table<% end %><% end %> <% if ind == 0 %>first-place<% else %>small-cell<% end %>">
        <td class="small-cell <%= 'first-place-num' if ind == 0 %>"><%= ind + 1%><%= 'st ðŸ†' if ind==0 %></td>
        <td class="small-cell"><%= user.tag %> <% if logged_in? %><% if user.id == @current_user.id %>(me)<% end %><% end %></td>
        <td class="mid-cell"><%= get_points(user) %></td>
        <% if is_admin? %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%# <%= link_to 'New User', new_user_path %>
