<p id="notice"><%= notice %></p>

<center>
<h1>ScoreBoard</h1>
</center>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Points</th>
      <% if is_admin? %><th colspan="3"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.tag %></td>
        <td><%= get_points(user) %></td>
        <% if is_admin? %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New User', new_user_path %>
