<!DOCTYPE html>
<html>
  <head>
    <title>CodeJamV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<body>
<div class="custom-menu-wrapper">
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
        <div class="custom-menu-screen"></div>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><%= link_to ' Home ', root_path, {:class => "pure-menu-link"} %></li>
            <% if logged_in? %>
            <li class="pure-menu-item"><%= link_to ' Leader Board ', leaderboard_path, {:class => "pure-menu-link"} %></li>
            <li class="pure-menu-item"><%= link_to ' Challenges ', competition_path(1), {:class => "pure-menu-link"} %></li>
            <li class="pure-menu-item"><a href="/users/<%= @current_user.id %>" class="pure-menu-link">My Account</a></li>
            <li class="pure-menu-item"><%= link_to ' Log Out ', logout_path, :class => "pure-menu-link", method: :delete %></li>
            <% else %>
            <li class="pure-menu-item"><%= link_to " Sign Up ", signup_path, {:class => "pure-menu-link"} %></li>
            <li class="pure-menu-item"><%= link_to " Log In ", login_path, {:class => "pure-menu-link"} %></li>
            <% end %>
        </ul>
    </div>
</div>
    <% if logged_in? %>
    <% else %>
    <% end %>

    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type} alert-dismissible fade in") %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
</html>
