<div class="main-div">
<h1><%= @solution.problem.name %></h1>
<p><%= @solution.problem.description %></p>

<strong>For Example:</strong>
<pre><code class="io-example"><%= @solution.problem.example %></code></pre>
<div class="row">
  <div class="col-md-6">
    <%= form_for(@solution) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :problem_id, :value => @solution.problem.id %>
      <%= f.label :language %>
      <%= f.select :language, options_for_select([@solution.language, "python", "javascript", "ruby"]) %>
      <%= f.submit "Submit Changes", class: "btn btn-primary" %>
      <br>
      <%= f.label :code %>
      <%= f.text_area :code %>
      <br>
    <% end %>
  </div>
</div>
    
<%= link_to 'Show', @solution %> |
<%= link_to 'Back', solutions_path %>
<br><br>
</div>
