<h1>Editing Solution</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@solution) do |f| %>
      <%= f.label :user %>
      <%= f.select :user_id, options_for_select(User.where(id: current_user.id).map{|u| [u.name, u.id]}) %>
      <br>
      <%= f.label :problem %>
      <%= f.select :problem_id, options_for_select(Problem.all.where(id: @solution.problem.id).map{|p| [p.name, p.id]}) %>

      <br>
      <%= f.label :language %>
      <%= f.select :language, options_for_select(["python", "c", "javascript", "ruby", "haskell"]) %>
      <br>
      <%= f.label :code %>
      <%= f.text_area :code %>
      <br>
      <%= f.submit "Submit Changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
    
<%= link_to 'Show', @solution %> |
<%= link_to 'Back', solutions_path %>
