<div class="main-div">
<h1>New Solution</h1>
<div class="row">
  <p> <%= @problem.name %> </p>
  <div class="col-md-6">
    <%= form_for(@solution) do |f| %>
      <br>
      <%= f.label :problem %>
      <%= f.select :problem_id, options_for_select(Problem.where(id: @problem.id).map{|p| [p.name, p.id]}) %>
      <br>
      <p><%= @problem.description %></p>
      <br>
      <%= f.label :language %>
      <%= f.select :language, options_for_select(["python", "c", "javascript", "ruby", "haskell"]) %>
      <br>
      <%= f.label :code %>
      <%= f.text_area :code %>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
<%= link_to 'Back', solutions_path %>
</div>
