<h1>New Solution</h1>
<div class="row">
  <p> <%= @problem %>
  <div class="col-md-6">
    <%= form_for(@solution) do |f| %>
      <%= f.label :user %>
      <%= current_user.tag %>
      <br>
      <%= f.label :problem %>
      <%= f.select :problem_id, options_for_select(Problem.all.map{|p| [p.name, p.id]}) %>
      <br>
      <%= f.label :language %>
      <%= f.select :language, options_for_select(["python", "c", "javascript", "ruby", "haskell"]) %>
      <br>
      <%= f.label :code %>
      <%= f.text_area :code %>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
<%= link_to 'Back', solutions_path %>
