<div class="main-div">
<p id="notice"><%= notice %></p>

<h1><%= @solution.problem.name %></h1>
<% if solved? @solution.problem %><h1 class="solved">Success!</h1><% else %><h1 class="not-solved">Failure!</h1><% end %>

<p>
  <strong>Description</strong>
  <%= @solution.problem.description %>
</p>

<p>
  <strong>Language:</strong>
  <%= @solution.language %>
</p>

<strong>Code:</strong>
<pre><code class="<%= @solution.language %> railscasts"><%= @solution.code %></pre></code>

<br>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %> |
<%= link_to 'Problem', problem_path(@solution.problem) %>
</div>
