<!DOCTYPE html>
<html>
  <head>
    <title>CodeJamV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">


  </head>

  <body>
    <% if logged_in? %>
      <%= 'Welcome ' + cookies[:user_tag] %> 
      <%= link_to ' Home ', root_path %> 
      <%= link_to ' Leader Board ', leaderboard_path %>
      <%= link_to ' Problem Path ', competition_path(1) %>
      <%= link_to " Log Out ", logout_path, method: :delete %>
    <% else %>
      <%= link_to ' Home ', root_path %>
      <%= link_to " Sign Up ", signup_path %>
      <%= link_to " Log In ", login_path %>
    <% end %>

    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type} alert-dismissible fade in") %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
